<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <b>
            <h1 class="text-center text-danger">OOPs!...</h1>
        </b>
        <p class="text-center text-danger">Something Went Wrong Try Again...</p>
    </div>

</body>

</html>